.navbar{
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 106vw; /* Full width */
    font-family: 'Academy Engraved LET';
    background-color: rgb(89, 89, 89);
    font-size: 25px;
    margin-left: -70px;
}

.navbar a {
    text-decoration: none;
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 5px 35px;
    margin-right: 30px;
}

.navbar a.name{
    float: left;
    margin-left: 45px;
}
.navbar a:hover {
    background: rgb(213, 211, 211);
    color: black;
  }

.main {
    margin-top: 95px; /* Add a top margin to avoid content overlay */
    background-color: white;
    width: 100vw;
    height: 100vh;
}

.infocontainer{
    float: left;
    margin-top: 30px;
    background-color: rgb(186, 185, 185);
    height: auto;
    width: 100vw;
    margin: 50px auto;
    justify-content: space-around;
    display: flex;
}

.infocontainer div.buttons{
    text-align: center;
    
}

.infocontainer div.buttons button{
    border-radius: 22px;
    padding: 9px 14px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 15px;
    margin: 0 3px;
    cursor: pointer;
}

.infocontainer div.buttons button:hover{
    color: dodgerblue;
    background-color: white;
}

.pic img{
    width: 370px;
    height: 500px
}

.heading{
    font-size: 50px;
    font-family: Marker Felt;
    text-align: center;
}

.intro{
    font-size: 25px;
    font-family: Didot;
    text-align: center;
}

.qualities{
    font-size: 25px;
    font-family: Chalkduster;
    text-align: center;

}


.main div.hobbies{
    margin-top: 100px;
    text-align: center;
    font-size: 30px;
    font-family: Comic Sans MS;
}

.main div.hobbies h1{
    margin-top: 170px;

}

.main div.hpics img{
    width: 120px;

}

.main div.hpics{
    display:flex;
    margin-top: 180px;
}

.main div.hpics img.cr{
    margin-left: 60px;
    height: 100px;
}

.main div.hpics img.co{
    margin-left: 200px;
    width: 80px;
    height: 80px;
    margin-top: 10px;

}

.main div.hpics img.pi{
    margin-left: 240px;
}

.main div.hpics img.no{
    margin-left: 270px;
    height: 100px;
}

.main div.hname{
    display: flex;
    font-family: Hoefler Text;
    margin-top: 20px;
}

.main div.hname h2.cr{
    margin-left: 70px;
}

.main div.hname h2.co{
    margin-left: 225px;
}

.main div.hname h2.pi{
    margin-left: 265px;
}

.main div.hname h2.no{
    margin-left: 312px;
}


.main div.progress progress{
    margin-left: 26em;
    width: 600px;
    height: 40px;
}


.main div.nameiconpy{
    display: flex;
}

.main div.nameiconpy img.py{
    margin-top: 25px;
    width: 40px;
    height: 40px;
    margin-left: 25em;
}

.main div.nameiconpy h2{
    margin-left: 15px;
    margin-top: 28px;
}


.main div.skills h1{
    text-align: center;
    font-size: 3em;
    font-family: Comic Sans MS;
}


.main div.nameicondj{
    display: flex;
}

.main div.nameicondj h2{
    margin-top: 80px;
}


.main div.nameicondj img.dj{
    margin-top: 75px;
    width: 31px;
    height: 40px;
    margin-left: 25em;
    padding-right: 25px;
}



.main div.nameiconcss{
    display: flex;
}


.main div.nameiconcss h2{
    margin-top: 85px;
}


.main div.nameiconcss img.css{
    margin-top: 75px;
    width: 31px;
    height: 40px;
    margin-left: 25em;
    padding-right: 25px;
}

.main div.nameiconhtml{
    display: flex;
}

.main div.nameiconhtml h2{
    margin-top: 84px;
}

.main div.nameiconhtml img.html{
    margin-top: 75px;
    width: 45px;
    height: 40px;
    margin-left: 24.5em;
    padding-right: 20px;
}

.main div.nameiconjs{
    display: flex;
}

.main div.nameiconjs h2{
    margin-top: 70px;
}

.main div.nameiconjs img.js{
    margin-top: 65px;
    width: 45px;
    height: 40px;
    margin-left: 24.5em;
    padding-right: 20px;
}


.main div.nameiconcpp{
    display: flex;
}

.main div.nameiconcpp h2{
    margin-top: 75px;
}

.main div.nameiconcpp img.cpp{
    margin-top: 70px;
    width: 45px;
    height: 40px;
    margin-left: 24.5em;
    padding-right: 20px;
}

